@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("../public/fonts/dana.css");
}

html,
body {
  padding: 0;
  margin: 1rem;
  direction: rtl;
  font-family: dana, tahoma, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
